/locale-check
/debian/tmp
/debian/files
# /debian/changelog
/debian/debhelper-build-stamp
/debian/.debhelper
/debian/*.build
/debian/*.changes
/debian/*.log
/debian/*.substvars

/debian/leios.system.base-files

/deb-build
/public

leios.system.base-files_*.dsc
leios.system.base-files_*.tar.xz
leios.system.base-files_*.tar.gz
