/locale-check
/debian/tmp
/debian/files
/debian/.debhelper
/debian/*.log
/debian/leios-base-files

build/
leios-base-files_*.dsc
leios-base-files_*.tar.xz
leios-base-files_*.deb
leios-base-files_*.changes
leios-base-files_*.buildinfo
leios-base-files_*.udeb
leios-base-files_*.tar.gz
leios-base-files_*.xz