Source: leios.system.base-files
Section: admin
Priority: required
Maintainer: LeiOS Project Team <support@leios.dev>
Build-Depends: debhelper-compat (>= 13)
Standards-Version: 4.7.2
Homepage: https://git.leicraftmc.de/LeiOS/System-Packages/Base-Files
Vcs-Git: https://git.leicraftmc.de/LeiOS/System-Packages/Base-Files.git
Vcs-Browser: https://git.leicraftmc.de/LeiOS/System-Packages/Base-Files
Rules-Requires-Root: no

Package: leios.system.base-files
Architecture: all
Depends: ${misc:Depends}, base-files, leios.system.branding-meta-files
Essential: yes
Priority: required
Multi-Arch: foreign
Description: LeiOS base system branding files
 This package applies LeiOS-specific branding to the Debian base-files package.
 It dynamically generates /etc/os-release, /etc/lsb-release, /etc/issue and
 /etc/issue.net based on the version supplied by leios.system.branding-meta-files.
