#!/usr/bin/make -f

DESTDIR = debian/leios.system.base-files
DYNAMIC_RAW_FILES_DIR = /usr/share/leios/system/utils/base-files/dynamic-raw-files

%:
	dh $@

override_dh_auto_install:
	# Branding installer script used by both this package and leios.system.branding-meta-files.
	install -D -p -m 755 src/install.sh \
	  $(DESTDIR)/usr/share/leios/system/utils/base-files/install.sh

	# Raw branding templates used by the LeiOS branding installer.
	install -D -p -m 644 src/dynamic/etc/os-release  $(DESTDIR)$(DYNAMIC_RAW_FILES_DIR)/os-release
	install -D -p -m 644 src/dynamic/etc/lsb-release $(DESTDIR)$(DYNAMIC_RAW_FILES_DIR)/lsb-release
	install -D -p -m 644 src/dynamic/etc/issue       $(DESTDIR)$(DYNAMIC_RAW_FILES_DIR)/issue
	install -D -p -m 644 src/dynamic/etc/issue.net   $(DESTDIR)$(DYNAMIC_RAW_FILES_DIR)/issue.net

	# LeiOS static base-files files
	install -D -p -m 644 src/static/etc/legal       $(DESTDIR)/etc/legal
	install -D -p -m 644 src/static/etc/motd        $(DESTDIR)/etc/motd

	# LeiOS static dpkg origin files
	install -D -p -m 644 src/static/origins/leios    $(DESTDIR)/etc/dpkg/origins/leios
