#!/usr/bin/make -f

DESTDIR = debian/leios.system.base-files

%:
	dh $@

override_dh_auto_install:
	# Branding installer script used by both this package and leios.system.branding-meta-files.
	install -D -p -m 755 src/install.sh \
	  $(DESTDIR)/usr/share/leios/system/utils/base-files/install.sh

	# Raw branding templates used by the LeiOS branding installer.
	install -D -p -m 644 src/etc/os-release  $(DESTDIR)/usr/share/leios/system/utils/base-files/raw-files/os-release
	install -D -p -m 644 src/etc/lsb-release $(DESTDIR)/usr/share/leios/system/utils/base-files/raw-files/lsb-release
	install -D -p -m 644 src/etc/issue       $(DESTDIR)/usr/share/leios/system/utils/base-files/raw-files/issue
	install -D -p -m 644 src/etc/issue.net   $(DESTDIR)/usr/share/leios/system/utils/base-files/raw-files/issue.net

	# LeiOS static branding files (diverted from base-files).
	install -D -p -m 644 src/etc/legal       $(DESTDIR)/etc/legal
	install -D -p -m 644 src/etc/motd        $(DESTDIR)/etc/motd

	# LeiOS dpkg origin and MOTD helper.
	install -D -p -m 644 src/origins/leios    $(DESTDIR)/etc/dpkg/origins/leios
	install -D -p -m 755 src/motd/11-help-text $(DESTDIR)/etc/update-motd.d/11-help-text
